# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.log
*.opensdf
*.sdf
*.user
*.suo
*.pyc
*.sublime*
__pycache__
ipch
[Dd]ebug/
[Rr]elease/
Debug_Script/
Release_Script/

